@use "../../assets/styles/variables" as *;

button{
    border-radius: 16px;
}

.primary{
    color: $color-secondary;
    font-size: 20px;
    background-color: rgba(119, 136, 153, 0);
    border: $color-secondary solid 2px;
}