.App {
  text-align: center;
}

aside{
  width: 30%;
}

.featured-article, .latest-articles{
  width: 65%;
}

.latest-articles{
  gap: 10px;
  
}

.featured-writer{
  background-color: rgba(119, 136, 153, 0.432);
}