@use "../../assets/styles/variables" as *;

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0px 2px 5px rgba(119, 136, 153, 0.623);
    
    margin-bottom: 5px;
}

.nav-title{
    display: flex;
}

.nav-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

    a{
        text-decoration: none;
        color: $color-primary;
    }

    .getting-started-button{
        color: $color-secondary;
    }
}

@media screen and (max-width: 727px){
    .nav-items{
        a{
            display: none;
        }
    }
}